.admin {
  font-size: 1.6rem;

  h2 {
    width: 100%;
  }

  header {
    background-color: #fff;
    display: flex;
    margin: 0;
    padding: 2rem 0;
    position: sticky;
    top: 12.5rem;
    width: 100%;
    z-index: 5;

    h3 {
      margin: 0;
    }

    button {
      margin-left: 1.5rem;

      &:first-of-type {
        margin-left: auto;
      }
    }
  }

  .movies {
    background-color: #fff;
    margin: 0;
    padding: 1rem 1rem 0;
    position: sticky;
    top: 0;
    z-index: 5;

    .movies-container {
      display: flex;
      gap: 1rem;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .movie-item {
      border: none;
      height: auto;
      padding: 0;
    }

    .movie-poster {
      height: auto;
      width: 7.5rem;
    }
  }

  .admin-edit {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .admin-edit--form {
      margin-bottom: 5rem;
    }

    .row {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      // padding: 1rem;
      width: 20%;
    }

    label {
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      padding: 1rem 0 0.5rem;
      text-transform: uppercase;
      width: 100%;
    }

    input {
      color: #aaa;
      font-size: 1.6rem;
      letter-spacing: 0.05rem;
      padding: 0.75rem;
      width: 100%;
    }

    .edited input {
      border-color: rgb(235, 25, 25);
    }

    .edited label:after {
      content: '(has changes)';
      color: rgb(29, 179, 42);
      display: inline-block;
      padding-left: 1rem;
    }
  }

  .tabs {
    border-bottom: 1px solid #ddd;
    display: flex;
    list-style: none;
    margin: 2.5rem 0 0;
    padding: 0;
    width: 100%;

    .tab {
      cursor: pointer;
      letter-spacing: 0.05rem;
      padding: 2rem;
      text-transform: capitalize;
    }

    .tab.active {
      background: #222;
      color: #fff;
      border-radius: .5rem .5rem 0 0;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;

    .gallery-remove {
      width: 20%;

      h2 {
        margin-top: 0;
        padding-top: 0;
      }

      ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
      }

      li {
        font-size: 1.4rem;
        overflow: hidden;
        padding-bottom: 0.5rem;
        text-overflow: ellipsis;
        width: 30rem;
        white-space: nowrap;
      }
    }

    .gallery-images {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      text-align: right;
      width: 80%;
    }

    .gallery-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 140%;
      flex-basis: 20%;
      height: 20rem;
      position: relative;
      // width: 20rem;
    }

    .gallery-image.remove {
      opacity: 0.4;
    }

    .gallery-button {
      bottom: 1rem;
      position: absolute;
      right: 1rem;
    }
  }

  .edit--details {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;

    .trailer-wrapper {
      height: 0;
      padding-top: 56.25%;
      position: relative;
      width: 80%;

      & > div {
        position: absolute;
        top: 0;
      }
    }

    .details-left,
    .details-right {
      display: block;
    }

    .details-left {
      flex-basis: 20%;
    }

    .details-right {
      flex-basis: 70%;
      margin-left: auto;
    }
  }

  .edit--wallpapers {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding: 0;
    width: 100%;

    .wallpaper {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      flex-basis: 49.5%;
      height: 35rem;
      margin-bottom: 1%;
      position: relative;

      &.remove:before {
        background: rgba(0, 0, 0, 0.75);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      button {
        bottom: 2rem;
        position: absolute;
        right: 2rem;
      }

      button:before {
        content: 'X Remove';
        display: block;
      }

      &.remove button:before {
        content: '+ Add';
      }
    }

    .wallpaper-add {
      background: #eee;
      border: 1px dashed #bbb;
      color: #999;
      letter-spacing: 0.05rem;
      text-transform: uppercase;

      span:before,
      span:after {
        content: '-';
        padding: 0 1rem;
      }

      &:hover {
        background-color: #999;
        color: #eee;
      }
    }
  }

  .edit--photos {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5%;
    padding: 0;
    width: 100%;

    .photo {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 140%;
      display: block;
      flex-basis: 19.6%;
      height: 25rem;
      margin-bottom: 0.5%;
      position: relative;

      &.remove:before {
        background: rgba(0, 0, 0, 0.75);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      button {
        bottom: 2rem;
        position: absolute;
        right: 2rem;
      }

      button:before {
        content: 'X Remove';
        display: block;
      }

      &.remove button:before {
        content: '+ Add';
      }
    }

    .photo-add {
      background: #eee;
      border: 1px dashed #bbb;
      color: #999;
      letter-spacing: 0.05rem;
      text-transform: uppercase;

      span:before,
      span:after {
        content: '-';
        padding: 0 1rem;
      }

      &:hover {
        background-color: #999;
        color: #eee;
      }
    }
  }
}
