.admin {
  font-size: 1.6rem;
  padding: 1rem;

  .movies {
    margin: 1rem 0;

    .movies-container {
      display: flex;
      gap: 1rem;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .movie-item {
      border: 1px solid #ddd;
      padding: 0.5rem;

      .movie-item--container {
        display: flex;
        width: 30rem;
      }

      .movie-poster {
        flex-basis: 35%;
        width: 35%;
      }

      .movie-info {
        padding-left: 1rem;
      }
    }
  }

  .admin-edit {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    padding-top: 2.5rem;

    .admin-edit--form {
      margin-bottom: 5rem;
    }

    h2 {
      margin: 2.5rem 0;

      span {
        display: block;
        font-size: 1.3rem;
        font-weight: normal;
      }
    }

    .row {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    label {
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      padding: 1rem 0 0.5rem;
      text-transform: uppercase;
      width: 30rem;
    }

    input {
      color: #888;
      font-size: 1.6rem;
      letter-spacing: 0.05rem;
      padding: 0.75rem;
      width: 30rem;
    }

    .edited input {
      border-color: rgb(235, 25, 25);
    }

    .edited label:after {
      content: '(has changes)';
      color: rgb(29, 179, 42);
      display: inline-block;
      padding-left: 1rem;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;

    .gallery-remove {
      width: 20%;

      h2 {
        margin-top: 0;
        padding-top: 0;
      }

      ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
      }

      li {
        font-size: 1.4rem;
        overflow: hidden;
        padding-bottom: 0.5rem;
        text-overflow: ellipsis;
        width: 30rem;
        white-space: nowrap;
      }
    }

    .gallery-images {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      text-align: right;
      width: 80%;
    }

    .gallery-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      flex-basis: 20%;
      height: 20rem;
      position: relative;
      // width: 20rem;
    }

    .gallery-image.remove {
      opacity: 0.4;
    }

    .gallery-button {
      bottom: 1rem;
      position: absolute;
      right: 1rem;
    }
  }
}
