.movies-list {
  display: grid;
  font-family: var(--font-secondary);
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 1.5rem;
  position: relative;
  width: 100%;

  @include mq($sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq($md) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq($lg) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.merch-content {
  display: flex;
  position: relative;

  .products-filter {
    flex-grow: 1;
    padding: 1.5rem;
    width: 30rem;
    min-width: 30rem;
  }

  .products-list {
    flex-grow: 1;
    padding: 1.5rem;
  }

  .products-filter--content {
    position: sticky;
    top: 7.5rem;
    height: auto;
  }
}

.products-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.products-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.products-masonry-grid_column > .card {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 1rem;

  &:after {
    display: none;
  }
}
