.movies-list {
  display: grid;
  font-family: var(--font-secondary);
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  padding: 1.5rem;
  position: relative;
  width: 100%;
}

.merch-content {
  display: flex;
  position: relative;

  .products-filter {
    flex-grow: 1;
    padding: 1.5rem;
  }

  .products-list {
    padding: 1.5rem;
    flex-basis: 7%;
  }
}
