// Cards Styles

// Base Card
.card {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s;

  & > a {
    transition: all 0.5s;
  }

  .card-img {
  }

  .card-info {
    p {
      margin: 1rem 0;
    }
  }

  .card-images {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 25%;
      height: auto;
    }
  }
}

// Card List
.card-list {
  border: 0.1rem solid #ddd;
  margin: 2.5rem auto;
  max-width: 120rem;
  width: 100%;

  .card {
    align-items: flex-start;
    border-bottom: 0.1rem solid #ddd;
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
  }

  .card:last-of-type {
    border-bottom: none;
  }

  .card-img {
    height: auto;
    object-fit: contain;
    width: 20%;
  }

  .card-info {
    flex-grow: 1;
    width: 50%;
  }

  .card-actions {
    flex-grow: 1;
    margin-left: auto;
    width: 20%;
  }
}

// Card Grid
.card-grid {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5%;
  width: 100%;

  .card {
    flex-basis: 19.6%;
    padding: 1.5rem;
  }

  .card-img {
    max-width: 100%;
  }

  .card-info {
  }
}

// Movie Card
.card.movie,
.card.recent {
  cursor: pointer;
  overflow: hidden;
  position: relative;

  & > a {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 102%;
    display: block;

    &:hover {
      background-size: 125%;
    }
  }

  .card-img {
    display: flex;
    max-width: 100%;
    opacity: 0;
  }

  .card-info {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -1rem;
    color: #fff;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.5s;
    width: 100%;
  }

  &:hover .card-info {
    bottom: 0;
    opacity: 1;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }
}

// Recents Card
.card.recent {
  flex: 0 0 19%;

  & > a,
  & > a:hover {
    background-size: cover;
  }

  img {
    height: auto;
    width: 100%;
  }
}

// Product Card
.card.product {
  h3 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
  }
}

// Merch Card

.products-list {
  width: 100%;
}

.card.merch {
  aspect-ratio: 1 / 1;
  padding: 0;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
    top: 0;
  }

  & > a {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 180%;
    display: block;
    position: relative;

    &:hover {
      background-size: 250%;
    }
  }

  .card-img {
    display: flex;
    height: 100%;
    max-width: 100%;
    opacity: 0;
  }

  .card-info {
    align-items: flex-start;
    bottom: 0;
    color: #eee;
    display: flex;
    flex-direction: column;
    position: absolute;
    // top: 1.5rem;
    z-index: 2;

    p {
      background-color: #333;
      margin: 0;
      padding: 1.2rem;
    }

    .title {
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    .price {
      font-size: 2rem;
    }
  }
}

.form {
  padding-top: 1rem;

  .form-text {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  label {
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    margin: 0.5rem 0;
    text-transform: capitalize;
  }

  input {
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
  }
}
