* {
  box-sizing: border-box;
  line-height: 125%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  //transition: all 0.5s;
}

.hidden {
  opacity: 0;
}

html {
  font-family: var(--font-primary);
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  letter-spacing: -0.05rem;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

button {
  cursor: pointer;
  padding: 0.5rem 0.75rem;

  &.active {
    opacity: 0.5;
    pointer-events: none;
  }
}

// SITE LAYOUT
.ghibli {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .site-header {
    width: 100%;
    z-index: var(--z-index-top);
    position: absolute;
    top: 0;
  }

  .site-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    overflow: auto;
    width: 100vw;
  }

  .site-footer {
    max-width: 100%;
    width: 100vw;
    z-index: var(--z-index-top);
  }
}

// SCROLL TO TOP
button.scroll-top {
  bottom: 10rem;
  position: absolute;
  opacity: 0;
  right: -10rem;
  transition: all 0.25s;
  z-index: 1000;

  &.is-visible {
    right: 10rem;
    opacity: 1;
  }
}
