$sm: 700px;
$md: 800px;
$lg: 1000px;

@mixin rwd($propertyName, $defaultValue, $mediaQueries: ()) {
  #{$propertyName}: #{$defaultValue};

  @each $breakpoint, $value in $mediaQueries {
    @media (min-width: #{$breakpoint}) {
      #{$propertyName}: #{$value};
    }
  }
}

@mixin mq($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
